/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   
 .header-section{background:url('../img/banner.jpg')no-repeat;
				background-attachment:fixed;
				background-position:center center;
				background-size:cover;}
.message-show{color:#636468;
	font-family:Raleway-light;
	margin-left:5px;
	font-size:15px;
	line-height:16px;}
	
.header-menu{border:none;
	background-color:black;}
@media(max-width:700px)
	{
		.message-show img{width:110px;
		height:40px;
		
		}
	}
.text-show h2{font-family:Raleway;
		font-size:35px;
		font-weight:regular;
		margin-left:10px;
		border-bottom:2px solid #545556;
		line-height:35px;
		
		}
@media(max-width:700px)
	{
		.text-show h2{font-family:Raleway;
		font-size:20px;
		font-weight:regular;
		margin-left:10px;
		border-bottom:2px solid #545556;
		line-height:20px;
		
		}
	}

.menu>li {padding:10px 20px;}
.menu>li>a{font-size:20px;
	color:#fff;}
.form {background-color:#FFFFFF;
  }
.form  h2{font-size:20px;
	padding:15px 5px;
	background-color:#F5F5F5;}
	
@media(max-width:700px)
	{
		.form  h2{font-size:18px;
		padding:15px 5px;
		background-color:#F5F5F5;}
	}
.form-control{border:0px solid #FFFFFF;
	height:50px;
	border-bottom:2px solid #CCCCCC;}
.button{border:none;
	background-color:#FF9B51;
	height:50px;
	width:100%;
	color:#fff;
	font-size:20px;
	}
.header-bottom-section{padding:5px 0px;
	border-bottom:2px solid #AFAFAF;}
.social i{padding:20px 20px;
		color:#CCCCCC;
		font-size:50px;}
@media(max-width:500px)
	{
		.social i{padding:15px 5px;
		color:#CCCCCC;
		font-size:25px;}
	}
/*Start banner-section-top*/
.banner-section-top{padding:70px 0px;
}
}
.tab_1 {
  background:#EC971F;
  border-bottom: 1px solid #fff;
  border-radius: 3px 3px 0 0;
  margin-left: 5px;
  padding: 30px 20px;
  overflow:hidden;
}
.tab_2{background:#333333;
	padding:30px 20px;
	 margin-left: 5px;
	border-bottom:1px solid #FFF}
.tab_3{background:#333333;
	padding:30px 20px;
	 margin-left: 5px;
	 border-radius:0 0 3px 3px;}

/*Start banner-section-middle*/	 
.banner-section-middle{padding:70px 0px;}

.slide-section-two{padding:30px 0px;}
.why-this{}
.why-this h1{color:#8D8D8D;
	font-family:raleway;
	font-size:13px;
	font-weight:regular;
	text-transform:uppercase;
	font-size:40px;
	
	}
@media(max-width:960px)
	{
		.why-this h1{color:#8D8D8D;
		font-family:raleway;
		font-weight:regular;
		text-transform:uppercase;
		font-size:22px;
	
	}
	}
.txt-mgs{margin-top:20px;}
.txt-mgs i {
  border: 1px solid #ff8b38;
  border-radius: 50%;
  color: #ff8b38;
  font-size: 35px;
  padding: 10px;
  float:left;

}
.txt-mg i {
  border:1px solid #ff8b38;
  border-radius: 50%;
  color: #ff8b38;
  font-size: 35px;
  padding: 10px;
  
}
.Well i{color:#FF9B54;
		font-size:20px;
		border:1px solid #FF9B54 ;
		border-radius:50%;
		padding:20px;}
.Well h3{color:#333333;
	font-size:20px; 
	font-weight:bold;
	}
.Well{padding:20px 0px;}
.slide-section-three{padding:20px 0px;}
.basic {
  background: none repeat scroll 0 0 #333333;
  border-bottom: 5px solid #ff8b38;
  margin-top: 68px;
}
.basic h3 {
  border-bottom: 1px solid #fff;
  font-family: opensans;
  font-weight: bold;
  padding: 15px;
}
.basic-c {
  background: none repeat scroll 0 0 #333333;
   border-bottom:5px solid #FF8B38;
}
.basic-c h3 {
  border-bottom: 1px solid #fff;
  font-family: opensans;
  font-weight: bold;
  padding: 15px;
}
.basic-menu{background:#FFFFFF;
	text-transform:uppercase;
	font-size:18px;
	color:#C7C7C9;}
.basic-menu > ul > li {
  border-bottom: 1px dotted #a1c7ee;
  color: #828e8e;
}
.basic-menu >ul >li:last-child{
  border-bottom:0px dotted #FFFFFF;
}
.basic-menu >ul >li>a{color:#8D8376;}
.our {
  background: none repeat scroll 0 0 #ff8b38;
  color: #fff;
  font-size: 16px;
  padding: 10px 65px;
  text-transform: uppercase;
}
.banner-section-two{padding:30px 0px;}

.advice{background:url('../img/joon.png')no-repeat;
	padding:20px 0px;
	background-position:center;
	background-size:cover;
	}
.advice p{font-size:17px;
	padding:5px 5px;
	color:#C1C2C4;
	font-family:Vijaya;
	line-height:19px;
	}
.jhon img{margin-right:10px;
	}
.banner-section-three{background:url('../img/banner2.jpg')no-repeat;
	background-attachment:fixed;
	background-position:center center;
	background-size:cover;}
.stylis{ padding:10% 0%;}

.stylis  h1{color:#8D8D8D;
	font-family:raleway;
	font-size:13px;
	font-weight:regular;
	text-transform:uppercase;
	font-size:40px;
	
	}
@media(max-width:960px)
	{
		.stylis h1{color:#8D8D8D;
		font-family:raleway;
		font-weight:regular;
		text-transform:uppercase;
		font-size:26px;
	
	}
	}
.control{width:99%;
	height:45px;
	border:none;
	border-bottom:1px solid #8D8D8D}
.textarea{width:99%;
	height:165px;
	border:none;
	border-bottom:1px solid #8D8D8D}
.social-icon{padding:30px 0px;}
.social-icon i{padding:0px 15px;
	color:#CCCCCC;
	font-size:25px;}
@media(max-width:960px)
	{
		.social-icon i{padding:0px 6px;
	color:#CCCCCC;
	font-size:24px;}

	}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
